.goBack {
    border: transparent;
    color: rgb(138, 136, 136);
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    background-color: transparent;
}

.containerCard h1{
    width: 300px;
    font-size: 28px;
}
.card-body-details p{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
    color:white;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'open sans',arial,sans-serif;
    
}
