.container {
    width: 200px;
}

h1 {
    font-family: "Helvetica", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-bottom: 3px;
}

p {
    color: rgb(143, 143, 143);
    font-size: 11px;
    margin-right: 3px;
    font-weight: bold;
    margin-top: 6px;
    
}

.card-body  {
    
    display: grid;
    justify-content: flex-start;
    height: 10px;
    grid-template-areas: "card card";
    row-gap: 0.5rem;
}
.star{
    background-color: transparent;
    width: 50px;
    border: none;
    margin-right: -30px;

}