.goBack {
    border: transparent;
    color: rgb(138, 136, 136);
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    background-color: transparent;
}

.containerCard {
    width: 200px;

}
.card-body-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
}
